<div class="content-wrapper layout-full">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>Mis pedidos</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="card card-row card-info card-outline">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th style="width: 10px">#</th>
            <th>Fecha</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1.</td>
            <td>2022-10-31T18:23:55</td>
            <td class="text-center">
              <i class="fas fa-search-plus"></i>
            </td>
          </tr>
          <tr>
            <td>2.</td>
            <td>2022-10-31T18:23:55</td>
            <td class="text-center">
              <i class="fas fa-search-plus"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="card-footer clearfix">
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item"><a class="page-link" href="#">
            <i class="fas fa-angle-double-left"></i>
          </a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">
            <i class="fas fa-angle-double-right"></i>
          </a></li>
        </ul>
      </div>
    </div>
  </section>
</div>
