<div class="content-wrapper layout-full">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>Mis pedidos</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="card card-row card-info card-outline">
      <div class="card-body">
        <p-table [value]="response.content"
                 [paginator]="true"
                 [lazy]="true"
                 [totalRecords]="response.total"
                 [rowHover]="true"
                 [rowsPerPageOptions]="[10,25,50]"
                 responsiveLayout="scroll"
                 (onPage)="onPage($event)">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 80px">#</th>
              <th>Fecha</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-content>
            <tr>
              <td>{{content.id}}</td>
              <td>{{content.dateOrder}}</td>
              <td class="text-center">
                <i class="fas fa-search-plus"></i>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="3">
                Sin registros
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
</div>
