<div class="content-wrapper layout-full">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <h1>Realizar pedido</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="info-box bg-info p-0">
      <button type="button" class="btn btn-info text-white info-box-icon border-right">
        <i class="fas fa-chevron-left"></i>
      </button>
      <div class="info-box-content text-center pt-2 pb-2">
        <h2>Semana 50</h2>
        <h4>12 al 16 de diciembre</h4>
      </div>
      <button type="button" class="btn btn-info text-white info-box-icon border-left">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </section>
  <section class="content">
    <div class="card card-row card-info card-outline">
      <div class="card-header p-0 text-center">
        <div class="d-flex">
          <a class="btn btn-link text-info border-right pt-3 w-2">
            <i class="fas fa-chevron-left"></i>
          </a>
          <div class="flex-grow-1 pt-3 pb-3">
            <h4 class="mb-0">Lunes, 12 de diciembre</h4>
          </div>
          <a class="btn btn-link text-info border-left pt-3 w-2">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="card-body">
        <div class="card card-secondary card-outline">
          <div class="card-header">
            <h5 class="card-title">Tipo plato 1</h5>
          </div>
          <div class="card-body">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="customRadio1" name="radio1">
              <label for="customRadio1" class="custom-control-label">Plato 1</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="customRadio2" name="radio1">
              <label for="customRadio2" class="custom-control-label">Plato 2</label>
            </div>
          </div>
        </div>
        <div class="card card-secondary card-outline">
          <div class="card-header">
            <h5 class="card-title">Tipo plato 2</h5>
          </div>
          <div class="card-body">
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="customRadio3" name="radio2">
              <label for="customRadio3" class="custom-control-label">Plato 1</label>
            </div>
            <div class="custom-control custom-radio">
              <input class="custom-control-input" type="radio" id="customRadio4" name="radio2">
              <label for="customRadio4" class="custom-control-label">Plato 2</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<footer class="main-footer">
  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-danger btn-block">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-success btn-block">
        <i class="fas fa-check"></i>
      </button>
    </div>
  </div>
</footer>
