.layout-full {
  min-height: 100vh;
}

.p-dialog .p-dialog-footer button.btn-block {
  width: 100%;
}

button.p-button.fix-btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

button.p-button.fix-btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
